.container {
  margin: auto;
  max-width: 1120px;
  margin-top: 5rem;
  font-weight: 500;
  p {
    color: var(--blue-800);
  }
}

.loadMore {
  background-color: var(--blue-800);
  color: var(--blue-200);
  display: flex;
  margin: 2rem auto;
  &:hover {
    color: var(--blue-800);
  }
}

