.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--gray-50);
  border: solid 2px var(--blue-200);
  box-shadow: 3rem;
}

.container {
  position: relative;
  height: 30vh;
}

.image {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 0%);
  img {
    border-radius: 50%;
  }
}

.title {
  margin-top: 5rem;
  text-align: center;
}
.text {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  & h4 {
    display: flex;
     & p {
       margin-left: 1rem;
     }
  }
}
.buttonCopy {
  background-color: green !important;
}